:root {
  --main-font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  margin: 0 auto;
  padding: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url(../images/man-holding-camera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
header h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  padding: 0;
}
header h2 {
  font-weight: 400;
  font-size: 22px;
}
header h3 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
header a {
  background-color: white;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-top: 28px;
  padding: 16px 32px;
}
section {
  margin: 0 auto;
  padding: 80px;
}
main img {
  max-width: 100%;
}
main h2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
main h3 {
  font-weight: 700;
  font-size: 34px;
  margin: 0;
  padding: 0;
}
main p {
  max-height: fit-content;
}
main a {
  background-color: black;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-top: 28px;
  padding: 16px 32px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(10, 14, 0, 0.9), rgba(10, 14, 0, 0.9)),
    url(../images/footer-camera.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  line-height: 24px;
}
footer a {
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  opacity: 0.8;
  padding: 0;
  margin: 5px 0;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-2 div {
  margin: 0 auto;
}
.grid-3-narrow-beginning {
  grid-template-columns: 1fr 3fr 3fr;
}
@media (max-width: 1280px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    text-align: center;
  }
  main img {
    width: 60%;
  }
  main p {
    width: 80%;
    margin: 0px auto;
  }
}
@media (max-width: 960px) {
  header,
  section {
    padding: 50px;
  }
  header h1 {
    font-size: 42px;
    margin: 20px 0;
  }
  header h2,
  header h3 {
    font-size: 14px;
  }
  main img {
    width: 100%;
  }
  main h3 {
    margin: 10px 0;
  }
  main p {
    width: 100%;
    margin: 0 auto;
  }
}
